
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background-color: #b7c3e8;
}

body {
  background-color: white;
    padding: 20px 10px;
  font-family: Helvetica;
  max-width: 2000px;
  margin: 0 auto;
  font-size: 1.6em;
}
h1 {
  text-align: center;
  color: #294860;
}
h2 {
  font-family: Helvetica;
  margin: 10px;
  padding: 10px;
  font-size: 1.4em;
}
h3 {
  color: #294860; 
}
h4 {
  color: black; 
}

p {
  margin: 10px 0;
}

em {
  font-weight: 600;
}
.lesson-border{
  color: white;
  background-color: #294860;
  border-radius: 20px;
     margin: 10px;
    padding: 10px;
}
.concept {  
  background-color: #DFEAF1;
  padding: 4px;
  margin: 10px;
  border-radius: 5px;
  color: black;
}
.concept-title {
  text-align: center;
}
.concept-description {
  font-weight: lighter;
  margin: 6px;
   font-size: 1em;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
} 

span.code {
    font-family: Courier;
    background-color: #BBBBBB;
    padding: 2px 4px;
    font-weight: bold;
}


div.code-block {
    font-family: Courier;
    background-color: #BBBBBB;
    padding: 2px 4px;
    display: inline-block;
}

span.indent {
    margin-left: 38px;
}

.form-submission {
  padding: 0 0 0 2em;
}

.responsive {
  width: 100%;
}

.post {
  background-color: #DFEAF1;
  border-radius: 8px;
  margin-bottom: 1em;
  padding: 1em;
}

.post-user {
  background-color: darkgrey;
  margin: 0 0 1em 0;
  padding: 0.1em 0.5em;
}

.post-content {
  background-color: #DFEAF1;
  border-radius: 15px;
  padding: 1em;
}

.bottom-border {
  border-bottom: 1px solid black;
}

.post-comment {
  padding: 1em 0;
}

.change-comment {
  border-bottom: 1px solid black;
  font-size: 1.2em;
  padding: 1em 0 0.5em 0.5em;
}

.user-panel {
  margin-left: 0em;
  padding: 0 1em;
}

@media (max-width: 660px) {

  .next-post {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .change-comment .btn {
    margin-top: 0em;
    width: 95%;
  }

  .change-comment input[type="text"] {
    margin-top: 0em;
    width: 95%;
  }

  .form-submission {
    padding: 0;
  }

  .form-submission input[type="submit"] {
    margin-top: 0.5em;
    width: 98%;
  }

  .user-panel {
    margin-left: 0.5em;
  }

  .post-container h3 {
    padding-left: 0.5em;
  }

}

@media (max-width: 991px) {

  .logo {
    float: none!important;
    margin: 0 auto;
  }

  .form-submission {
    padding: 0;
  }

}